/* Hintergrund */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2e7d8;
  color: #333;
  padding-left: 60px;
  padding-right: 60px;

}

/* Menü */
nav {
  background: rgba(0,0,0,0.7);
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #f2e7d8;
  text-shadow: 0 0 10px white;
}

/* Seitencontainer */
.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  animation: fadein 0.8s ease-in-out;
}

@keyframes fadein {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Social Icons */
.socials img {
  width: 45px;
  margin: 10px;
  transition: 0.3s;
}

.socials img:hover {
  transform: scale(1.1);
}
